{
  "presets": ["next/babel"],
  "plugins": [
    [
        "module-resolver",
        {
            "root": ["."],
            "alias": {
                "@pages": "./pages",
                "@components": "./components",
                "@containers": "./containers"
            }
        }
    ]
  ]
}
